.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5ebdc;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.card {
  background: #d9b99b;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #5a3e2b;
}
.image {
  width: 100%;
  height: auto;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(90, 62, 43, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContent {
  background: #f5ebdc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #5a3e2b;
}
.modalImage {
  width: 100px;
  height: auto;
  margin-top: 10px;
}
.closeButton {
  background: #8b5e3c;
  color: #f5ebdc;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

